.btn
  @include btn

a.btn
  color: $white

.btn-disabled
  color: $light-gray
  border-color: $light-gray
  cursor: default
  &:hover
    color: $light-gray
    border-color: $light-gray

.btn-clear
  color: $link-color
  border: 2px solid $link-color
  background-color: transparent
  &:hover
    color: $white
    background-color: $link-hover-color
    border-color: $link-hover-color
a.btn-clear
  color: $link-color

.buttons .btn
  margin: 0 5px 1em 0
  @include grid-media($desktop)
    margin-bottom: 0
