.top-only-padding
  padding-top: $mobile-section-padding
  @include grid-media($tablet)
    padding-top: $tablet-section-padding
  @include grid-media($desktop)
    padding-top: $desktop-section-padding
.bottom-only-padding
  padding-bottom: $mobile-section-padding
  @include grid-media($tablet)
    padding-bottom: $tablet-section-padding
  @include grid-media($desktop)
    padding-bottom: $desktop-section-padding
.top-bottom-padding,
#primary
  padding-top: $mobile-section-padding
  padding-bottom: $mobile-section-padding
  @include grid-media($tablet)
    padding-top: $tablet-section-padding
    padding-bottom: $tablet-section-padding
  @include grid-media($desktop)
    padding-top: $desktop-section-padding
    padding-bottom: $desktop-section-padding

.hide-break-mobile
  br
    display: none
    @include grid-media($tablet)
      display: block

.entry-content + .post-categories,
#comments
  margin-top: 1.5em
.post-teaser,
.post-meta
  margin-bottom: 1.5em
.post-thumbnail
  margin-bottom: 1em

.align-left
  text-align: left
.align-center
  text-align: center

.modal-box
  position: relative
  background-color: $white
  color: $gray
  padding: 40px 50px 45px
  width: auto
  max-width: $contain-small
  margin: 20px auto
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.75)

.mfp-zoom-in
  .mfp-content
    opacity: 0
    transition: all 0.2s ease-in-out
    transform: scale(0.8)
  &.mfp-bg
    opacity: 0
    transition: all 0.3s ease-out
  &.mfp-ready
    .mfp-content
      opacity: 1
      transform: scale(1)
    &.mfp-bg
      opacity: 0.8
  &.mfp-removing
    .mfp-content
      transform: scale(0.8)
      opacity: 0
    &.mfp-bg
      opacity: 0

.mobile-only
  @include grid-media($tablet)
    display: none

.section-table
  @include grid-media($tablet)
    display: table
    width: 100%
.section-row
  @include grid-media($tablet)
    display: table-row
    width: 100%
.section-cell
  @include grid-media($tablet)
    display: table-cell
    vertical-align: middle