#bottom
  background-color: $dark-gray

#site-footer
  background-color: $footer-color
  text-align: center

#menu-footer
  font-size: 0.889em
  margin-bottom: 1em

.social-menu
  margin-bottom: 1em
  li
    margin: 0 5px
  a
    display: block
    width: 34px
    height: 34px
    border-radius: 50%
    background: center center no-repeat $link-color
    &:hover,
    &:focus
      background-color: $link-hover-color
    &.icon-instagram
      background-image: url('../images/icon-instagram.svg')
    &.icon-facebook
      background-image: url('../images/icon-facebook.svg')
    &.icon-twitter
      background-image: url('../images/icon-twitter.svg')
    &.icon-linkedin
      background-image: url('../images/icon-linkedin.svg')

#copyright
  font-size: 0.889em