#site-header
  background-color: $header-color
  .container
    height: 65px
    display: flex
    align-items: center
    justify-content: space-between
    @include grid-media($desktop)
      height: 110px

.fixed-header
  padding-top: 65px
  @include grid-media($desktop)
    padding-top: 110px
  #site-header
    position: fixed
    top: -65px
    left: 0
    z-index: 75
    width: 100%
    transform: translateY(0px)
    transition: transform 250ms ease
    box-shadow: 0 9px 28px 0 rgba(0,0,0,0.16)
    @include grid-media($desktop)
      top: -138px

.admin-bar.fixed-header
  #site-header
    top: 32px

.slide-header.fixed-header
  #site-header
    transform: translateY(65px)
    @include grid-media($desktop)
      transform: translateY(138px)

#logo
  svg
    width: 100%
    height: 100%
  > a
    display: inline-block
    max-width: 157px
    @include grid-media($desktop)
      max-width: 241px