#site-header
  background-color: $blue
  padding: 10px 0
  height: 65px
  @include grid-media($tablet)
    height: 100px

.fixed-header
  #site-header
    position: fixed
    top: 0
    left: 0
    width: 100%
    box-shadow: 0 15px 30px rgba(#000, 0.05)
    z-index: 75
    transition: transform 250ms ease
  #page
    padding-top: 65px
    @include grid-media($desktop)
      padding-top: 100px

.slide-header.fixed-header
  #site-header
    transform: translateY(-65px)
    @include grid-media($desktop)
      transform: translateY(-100px)

#logo
  text-align: left
  svg
    width: 100%
    height: 100%
  > a
    display: inline-block
    max-width: 157px
  @include grid-media($tablet)
    float: left
    > a
      max-width: 241px

#page-title
  background-size: cover
  background-color: $dark-gray
  background-position: 40% 50%
  color: #fff
  text-align: center
  position: relative
  @include grid-media($tablet)
    background-position: center center
    min-height: 300px
  .container
    padding-top: 2em
    padding-bottom: 2em
    @include grid-media($tablet)
      padding-top: 0
      padding-bottom: 0
      position: absolute
      top: 50%
      transform: perspective(1px) translateY(-50%)
      left: 0
      right: 0
  h1, h2, h3, h4, h5, h6
    text-transform: none
    color: #fff
  h1
    font-size: 2.222em
    font-weight: normal
    line-height: 1.130
    @include grid-media($tablet)
      font-size: 2.700em
  a
    color: #fff