.siteorigin-panels
  #primary
    max-width: none
    padding: 0

.so-row
  background-position: center center
  background-size: cover

// Row Widths.

.so-width-full
  > .container
    max-width: none
    padding: 0
.so-width-medium
  .container
    @include contain($contain-medium)
.so-width-small
  .container
    @include contain($contain-small)

// Widget Widths.

.so-widget-width-large
  @include contain($contain-large)
.so-widget-width-medium
  @include contain($contain-medium)
.so-widget-width-small
  @include contain($contain-small)

// Row Background Styles.

.so-bg-dark-gray
  background-color: $dark-gray
.so-bg-red
  background-color: $red

.so-light-text,
.so-bg-dark-gray,
.so-bg-red
  color: #fff
  h1, h2, h3, h4, h5, h6
    color: #fff
    a, a:link, a:visited
      color: #fff

// Row/Widget Styles.

.so-top-border-gray
  border-top: 4px solid $light-gray

.so-bottom-border-gray
  border-bottom: 4px solid $light-gray