.siteorigin-panels
  #primary
    max-width: none
    padding: 0

.so-row
  background-position: center center
  background-size: cover

.so-width-full
  > .container
    max-width: none
    padding: 0
.so-width-medium
  .container
    @include contain($contain-medium)
.so-width-small
  .container
    @include contain($contain-small)

.so-bg-dark-gray
  background-color: $dark-gray
.so-bg-red
  background-color: $red

.so-light-text,
.so-bg-dark-gray,
.so-bg-red
  color: #fff
  h1, h2, h3, h4, h5, h6
    color: #fff
    a, a:link, a:visited
      color: #fff

// Widget Bottom Styles.

.so-bottom-gray-border
  border-bottom: 4px solid $light-gray