// Colors.
$black: #111
$white: #fff
$light-gray: #ededed
$gray: #6F6F6F
$dark-gray: #333

$text-color: $black
$header-color: #003b71
$link-color: #003b71
$link-hover-color: #83c4ff
$error-color: #CF0A2C
$footer-color: $light-gray

// Font Sizes.
$base-font-size: 18px
$base-line-height: 1.5

// Fonts.
$base-font-family: 'Open Sans', sans-serif
$header-font-family: 'Open Sans', sans-serif

// Container Widths.
$contain-large: 1120px
$contain-medium: 875px
$contain-small: 650px

// Padding.
$desktop-section-padding: 4em
$tablet-section-padding: 3em
$mobile-section-padding: 3em

// Transitions/Animation.
$default-transition-timing: 250ms
$default-transition-easing: ease

// Media Queries.
$tablet: ( columns: 6, gutter: 20px, media: 720px )
$desktop: ( columns: 12, gutter: 20px, media: 1100px )
